node_modules/
/invoices/
/emails/
resources/report.xlsx
resources/unitList.xlsx
resources/unitListR.xlsx
resources/regatta_invoices_templates/
resources/email_templates/signature_temp.html
resources/images/managementLogo.png
resources/work_orders/*
r_index.js
.env.development
.env.test
generated/prisma/
generated/.DS_Store
.DS_Store
smtp.private.js
graph.private.js